root = true

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
spelling_language = en-US

[*.cs]

# ReSharper properties
resharper_braces_for_ifelse = required
resharper_instance_members_qualify_declared_in = base_class
